.main-body {
    background-color: #1e2d21;
    width: 100%;
}

.main-header {
    margin-left: 15px;
    margin-right: 105px;
}

.main-header .main-nav {
    padding-left: 250px;
    padding-top: 60px;
    padding-bottom: 10px;
    font-size: 14px;
    width: 100%;
}

.nav-item a {
    padding: 7px 17px;
    text-align: left;
    text-decoration: none;
    color: white;
    border-radius: 0;
    transition: 0.5s;
    /* font-weight: bold; */
}

.btn-beli {
    text-align: center;
    border-radius: 0;
    height: 100%;
    padding: 7px 11px;
    /* font-weight: bold; */
}

.nav-item a:hover {
    color: #254829;
}

a.active {
    color: #254829;
}

.first-highlight {
    padding-top: 80px;
}

.img-slide {
    position: relative;
    text-align: center;
}

.highlight-text {
    text-align: left;
    color: white;
    font-size: 70px;
    position: absolute;
    font-weight: bold;
    top: 30%;
    left: 5%;
    letter-spacing: 5px;
    line-height: 5rem;
}